# Logs
logs
*.log
npm-debug.log*
report.*.json

# Packages
node_modules

# Index files
.DS_Store

# Lock files
yarn.lock
package-lock.json

# Built files
/packages/*/dist
/**/app-compressed.tar.gz⏎
*.env

packages/exedao-server/src/\.db/LOG

packages/exedao-server/src/\.db/CURRENT

packages/exedao-server/src/\.db/LOG\.old

packages/exedao-server/src/\.db/MANIFEST-000099
